li {
    display: flex;
    display: flex;
    align-items: center;
    text-align: center;
}

img {
    height: 200px;
    width: 300px;
    max-width: 300px;
    max-height: 200px;
    border-bottom: 1px solid black;
}

ul {
    position: absolute;
    left: 31px;
}

.name {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.date {
    width: 115px;
    height: 200px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    width: 90px;
    height: 200px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    width: 120px;
    height: 200px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.venue {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.link {
    height: 200px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.result-header {
    height: 25px;
    border-top: 1px solid black;
}

#name-result-header {
    padding-right: 301px;
    border-right: 0px;
}

#header {
    margin-bottom: 0px;
}
